
body{
  font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
}

/* header style */
#parent_h{
  background-image: url('img/Banner\ Image.png');
  background-repeat: no-repeat;
  width: 1320px;
height: 600px; 
}
.parent_h1{
  padding-top: 80px;
}
#parent_h .parent_h1 .h3{
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
#parent_h .parent_h1 .h1{
  color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}

/* section_1 style */
.section_1{
  text-align: center;
}
.section_1_c h1{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section_1_c h4{
  color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.section_1_c h2{
  color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section_1 img{
  width: 802.9px;
height: 500px;
flex-shrink: 0;
}

/* section_2 style */
.section_2{
  background-image: url('img/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
}
.section_2 h1{
  color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
border-left: 126px;
}
.section_2 p{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.section_2 button{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: #070211;
}

/* section_3 style */
.section_3{
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.section_3 span{
  color: #F00;
}
.section_3 button{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: #F00;
}
/* section_4 style */
.section_4{
  display: flex;
}
.section_4 .s_d1{
}
.section_4 img{
}
.section_4 .s_d1{
}
/* section_5 style */
.section_5{
  background-image: url('img/Rectangle 1.png');
  /* background-image: url('img/Rectangle\ 2.png'); */
  text-align: center;
}
/* section_6 style */
.section_6{
  
}
/* section_7 style */
.section_7{
  background: tan;
  text-align: center;
}




/* footer_section_1 style */
.footer_1{
  display: flex;
  justify-content: space-between;
}
/* footer_section_2 style */
.footer_2{
  
}
.footer_2 ul{
  display: flex;
  
}
.footer_2 ul li{
  margin: auto auto;
  list-style: none;
  
}
.footer_2 ul li a{
}
/* footer_section_3 style */
.footer_3{
  display: flex;
  justify-content: space-between;
}